/logs
/.project
/BKOfficeAPI/ojdbc6.jar
/BKOfficeAPI/.classpath
/BKOfficeAPI/.project
/BKOfficeAPI/nbactions.xml
/BKOfficeAPI/nb-configuration.xml
/BKOfficeFrontEnd/nb-configuration.xml
/BKOfficeFrontEnd/.classpath
/BKOfficeFrontEnd/.project
/BKOfficeFrontEnd/nbactions.xml
/BKOfficeAPI/.settings
/BKOfficeFrontEnd/.settings
/BKOfficeAPI/target/
/BKOfficeFrontEnd/target
/BKOfficeAPI/nb-configuration5.xml
/BKOfficeAPI/.~*
/BKOfficeFrontEnd/.~*
/BKOFficeAPI/*~
/BKOfficeFrontEnd/*~

/BKOfficeSalesCommons/.settings
/BKOfficeSalesCommons/.classpath
/BKOfficeSalesCommons/.project
/BKOfficeAPI/bin
/BKOfficeSalesCommons/logs
/BKOfficeAPI/pom.xml
